#calculator {
    border:1px solid rgb(187,183,183);
    border-radius: 5px;
    width: 200px;
}

#display {
    margin: 10px;
    width: 85%;
    height: 30px;
}

.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.button{
    height:45px;
    width: 45px;
    text-align: center;
    margin: 3px;
    border-radius: 5px;
    /* border: 1
    px solid black; */
}