body{
    font-family: Arial;
}

#main-heading{
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    align-items: center;
}

#todo-input, #todo-date{
    font-size: 15px;
    padding: 10px 5px;
}

.todo-button {
    background-color: green;
    color: aliceblue;
    border:none;
    border-radius: 10px;
    padding: 15px 0px;
    cursor:pointer;
}

.delete-button{
    background-color: red;
    color: aliceblue;
    border:none;
    border-radius: 10px;
    padding: 15px 0px;
    cursor:pointer;

}